
body {
  background-color: #fafafa;
}

.navigator{
    display: flex;
    justify-content: space-between;
}

.logo {
    text-align: left;
    font-weight: 800;
    size: 100%;
}

.nav-bar{
    height: 45px;
    text-align: center;
}
.nav-bar ul{
    list-style: none;
}
.nav-bar ul li{
    float:left;
}

.nav-bar ul li a{
    font-size: 14px;
    padding:25px;
}

.nav-text{
    color: #025157;
    text-decoration: none;
}

.sign {
  text-align: right;
  font-weight: 800;
  font-size: 14px;
}

a {
  color: #67b54b;
  font-family: sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
}

button {
  /* color: white; */
  font-family: sans-serif;
  background-color: #67b54b;
  font-size: 14px;
  border: 0;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px; 
  border-radius: 5px;
}

main {
  text-align: center;
  
}

h1 {
  color: #025157;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 55px;
  margin-bottom: 24px;
}
h4 {
    color: #343434;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

